<section class="thirteen columns">
    <h1>Relevant Coursework</h1>
    <article>
        <header>
            <h1>Computer Systems:</h1>
        </header>
        <p>
        	<l>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Fundamentals of Computing  &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Data Structures and Algorithms  &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Computer Organization  &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Operating Systems  &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Computer Networks  &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Embedded and Cyber-Physical Systems  &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Computer Systems Security  &nbsp;</li>
	        </l>
   		</p> <br>
    </article> <br>
    <article>
        <header>
            <h1>Electrical Engineering:</h1>
        </header>
        <p>
        	<l>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Probabilistic Mobile Robotics &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Image Processing &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Speech Signal Processing &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Digital Signal Processing &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Digital Electronics and Microprocessor &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Principles of Communication &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Control System Analysis &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Microelectronics &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Signals Systems and Networks &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Power Systems &nbsp;</li>
	        </l>
   		</p> <br>
    </article> <br>
    <article>
        <header>
            <h1>Mathematics:</h1>
        </header>
        <p>
        	<l>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Introduction to Calculus &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Probability and Statistics &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Linear Algebra and Ordinary Differential Equation &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Partial Differential Equations &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Complex Variable &nbsp;</li>
	        </l>
   		</p> <br>
    </article> <br>
    <article>
        <header>
            <h1>MOOCs</h1>
        </header>
        <p>
        	<l>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;">Using Python to Access Web Data  &nbsp;</li>
	        	<li style="float: left; margin-right: 0.5em; margin: 0px 0;"><p class="link" style="display:inline">Neural Networks and Deep Learning<a href="https://www.coursera.org/account/accomplishments/verify/LMYDE7XY42DA"> [Certificate]</a></p></li>
	        </l>
   		</p> <br>
    </article> <br>

</section>