<section class="thirteen columns">
    <h1>Employment</h1>
        {% assign hasSimilar = '' %}
        {% for employement in site.employement reversed %}
            <article>
                <header>
                    <h1>{{ employement.designation }}</h1>
                    <span><address>{{ employement.title }}</address><time>{{ employement.duration }}</time></span>
                </header>
                <p>
                    {{ employement.content }}
                </p>
            </article>
        {% endfor %}
</section>
