<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
    	<ul>
    		<li>Running: Completed several medium distance races including half-marathons and Duathalon</li>
		    <li>Photography along with Bird watching is always a great utilization of time</li>
        	<li>Tech Trivia: Keep myself updated with the Biz-Tech News on daily basis</li>
        	<li>Cycling: Do regular long distance cycling trips (like 80-100Km) </li>
        	<li>And of course, Netflix and Chill!!</li>
    	</ul>
    </article>
</section>