<section class="thirteen columns">
    <h1>Other Relevant Projects</h1>
        {% assign hasSimilar = '' %}
        {% for project in site.project reversed %}
            <article>
                <header>
                    <h1>{{ project.designation }}</h1>
                    <span><address>{{ project.title }}</address><time>{{ project.duration }}</time></span>
                </header>
                <p>{{ project.content }}</p>
                {% if project.link %}
                <p class="link"><a href= {{ project.link }}>[Report]</a></p>
                {% endif %}
            </article>
        {% endfor %}
</section>
