<section class="thirteen columns">
    <h1>Technical Skills</h1>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>C/C++,</em> <em>Python</em> &amp; <em>MATLAB</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java,</em> <em>Assembly(ARM, x86, MiPS),</em>, <em>Javascript</em> &amp;  <em>ShellScript</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3,</em> <em>Perl</em> &amp; <em>Verilog</em>
        </p>
        <header>
            <h1>Tools</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Git,</em> <em>LATEX,</em> <em>vim</em>, &amp; <em>GNU Debugger</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>OpenCV,</em> <em>GNU Octave</em> <em></em> &amp; <em>Adobe Photoshop</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>ns3</em> &amp; <em>Microsoft Visual Studio</em>
        </p>
        <header>
            <h1>Development Platforms</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Atmel AVR, Arduino, BeagleBone Black &amp; Raspberry Pi</em>
        </p>
        <header>
            <h1>Operating Systems</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Linux, Windows 10</em>
        </p>
    </article>
</section>